ADDR=:3300

# sets GIN into production mode, no debug logs + speeds things up
# APP_ENV=production

# web domains that can call this API, separated by spaces. * means anywhere, e.g.:
# CORS_ALLOWED_FROM=*
CORS_ALLOWED_FROM=http://localhost:3000

# encrypts/decrypts our login tokens
# if not entered, the app will generate a random key on startup and print it
PASETO_KEY=

# setup cli command:
# docker run --name dev-postgres-drawref -e POSTGRES_USER=drawref -e POSTGRES_PASSWORD=passed -p 5545:5432 postgres
DATABASE_URL=postgres://drawref:passed@localhost:5545/drawref?sslmode=disable
DATABASE_MIGRATIONS_PATH=migrations

# admin login password. make this long and complex,
# since having it can let people browse your file system (via the 'add reference folder' interface/APIs)
ADMIN_PASS=

# path to cache thumbnails to (optional)
CACHE_PATH=
