PORT=3300

# where this app is being served from
MY_BASEURL=http://localhost:3300/

# used for login redirection
FRONTEND_BASEURL=http://localhost:3000/

# encrypts/decrypts our login tokens
PASETO_LOCAL_KEY=

# setup cli command:
# docker run --name dev-postgres -e POSTGRES_USER=drawref -e POSTGRES_PASSWORD=passed -p 5545:5432 postgres
DATABASE_URL=postgres://drawref:passed@localhost:5545/drawref

# on upload, files are written with these AWS details
AWS_ENDPOINT_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# on upload, files are written to the tmp path.
# on adding to our db, files are uploaded to the S3 bucket
TMP_UPLOAD_PATH=./tmp/

# if local image uploads are allowed, a root path must be specified.
# ALLOW_LOCAL_IMAGES=true
LOCAL_IMAGES_ROOT_PATH=

# uploaded files are written to this bucket with the key prefix.
# include a trailing slash on the prefix
UPLOAD_S3_BUCKET=
UPLOAD_KEY_PREFIX=/

# when URLs are served, this url and the key are joined.
# if using a key prefix like 'pub/', include that in this value too.
# include a trailing slash
UPLOAD_URL_PREFIX=

# github login details
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# space-separated list of github UIDs (not usernames) that are admins on this app
GITHUB_ADMIN_UIDS=
